body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.category-aktif {
  background-color: #6f42c1 !important; /* ungu, sama seperti bootstrap primary purple */
  color: white !important;
  font-weight: bold;
  border-radius: 8px;
  transition: all 0.3s ease;

}

.category-aktif:hover {
  background-color: #5a32a3 !important; /* sedikit lebih gelap pas hover */
  color: #fff !important;
}